body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-container {
    font-size: calc(10px + 2vmin);
    margin-top: 78px;
    margin-right: 0px;
    margin-left: 200px;
    margin-bottom: 40px;
    width: 85%;
    height: auto;
    min-height: 585px;
    position: static;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}